@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif; }

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1126px; } }

.heading-1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2.4px; }

.heading-2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px; }

.header__top {
  background-color: #2e2e2f;
  height: 40px;
  width: 100%; }

.header__bottom {
  height: 120px; }

.header__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__span {
  font-size: 12px;
  color: #ffffff;
  margin-right: 36px;
  font-family: 'Poppins', sans-serif; }

.header__top--right span {
  margin-right: 20px; }

.header__link {
  font-size: 14px;
  color: #ffffff; }
  .header__link:not(:last-child) {
    margin-right: 15px; }

.btn-gold {
  padding: 15px 38px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  background-color: #af943e;
  border: none;
  border-radius: 0;
  outline: none;
  font-family: 'Poppins', sans-serif; }
  .btn-gold:active, .btn-gold:focus {
    outline: none; }
  .btn-gold:hover {
    transform: translateY(-2px);
    color: #666666; }

.map__btn {
  text-transform: uppercase;
  background-color: #ffffff;
  color: #1c1c1c;
  border: 2px solid #1c1c1c;
  padding: 18px 33px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  outline: none;
  margin-top: 40px; }
  .map__btn:active, .map__btn:focus {
    outline: none; }
  .map__btn:hover {
    color: #ffffff;
    background-color: #1c1c1c; }

.nav__menu {
  margin-bottom: 0; }

.nav__list {
  display: flex; }
  .nav__list a:hover::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 14px; }

.nav__item {
  list-style: none;
  margin-top: 21px; }
  .nav__item:not(:last-child) {
    margin-right: 35px; }

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #2e2e2f;
  display: inline-block;
  font-weight: 700; }

.slider {
  width: 100%; }
  .slider .slide {
    position: relative;
    width: 100%;
    height: 780px;
    background-image: url("../img/cover.jpg");
    background-position: right;
    background-size: cover; }
  .slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50.3%;
    transform: translateX(-59%);
    list-style-type: none; }
    .slider .slick-dots button {
      display: block;
      border: 1px solid #2e2e2f;
      border-radius: 50%;
      background-color: transparent;
      height: 10px;
      width: 10px;
      margin: 0 4px; }
    .slider .slick-dots li.slick-active button {
      background-color: #2e2e2f; }
    .slider .slick-dots li button {
      font-size: 0; }

.testimonials__slider {
  width: 100%; }
  .testimonials__slider .testimonials__slide {
    position: relative;
    width: 100%;
    height: auto; }
  .testimonials__slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 23px;
    left: 50.5%;
    transform: translateX(-59%);
    list-style-type: none; }
    .testimonials__slider .slick-dots button {
      display: block;
      border: 1px solid #af943e;
      border-radius: 50%;
      background-color: transparent;
      height: 10px;
      width: 10px;
      margin: 0 4px; }
    .testimonials__slider .slick-dots li.slick-active button {
      background-color: #af943e; }
    .testimonials__slider .slick-dots li button {
      font-size: 0; }

.banner {
  position: relative;
  max-height: 780px; }

.banner__content {
  position: absolute;
  height: 295px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 12px;
  padding-left: 13px; }

.banner__wrap {
  width: 50%;
  margin-top: -20px; }

.banner__btn {
  margin-top: 20px; }

.banner__heading {
  padding-bottom: 0; }
  .banner__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 50px;
    margin-top: 20px;
    margin-left: 5px; }

.banner__p {
  font-size: 18px;
  font-family: 'Merriweather', serif;
  margin-top: 29px;
  letter-spacing: 0.9px;
  max-width: 550px;
  margin-top: 28px; }

.services {
  padding: 100px 0;
  text-align: center; }

.services__heading::after {
  content: '';
  background-color: #af943e;
  height: 2px;
  display: block;
  width: 40px;
  margin: 20px auto; }

.services__text {
  color: #666666;
  font-size: 16px;
  letter-spacing: 1.2px; }

.services__cards {
  padding: 93px 24px 34px 15px; }

.services__card img {
  margin-top: 45px;
  margin-bottom: 30px; }

.services__card--1 {
  background-image: url(../img/services/services1.jpg);
  width: 259px;
  height: 200px; }

.services__card--2 {
  background-image: url(../img/services/services2.jpg);
  width: 259px;
  height: 200px; }

.services__card--3 {
  background-image: url(../img/services/services3.jpg);
  width: 259px;
  height: 200px; }

.services__card--4 {
  background-image: url(../img/services/services4.jpg);
  width: 259px;
  height: 200px; }

.services__span {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  display: block; }

.story {
  background-color: #f3f4f5;
  width: 100%;
  padding-top: 145px;
  padding-bottom: 170px; }

.story__content--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-top: 55px; }

.story__img {
  position: relative;
  z-index: 5; }
  .story__img::after {
    content: '';
    width: 445px;
    height: 100%;
    border: 1px solid #af943e;
    position: absolute;
    top: 24px;
    right: 77px;
    z-index: -1; }

.story__heading {
  margin-top: 24px; }
  .story__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 5px; }

.story__subhead {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: #666666;
  margin-top: 10px; }

.story__text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  margin-bottom: 20px; }

.box__right {
  padding-top: 42px;
  margin-top: 1px;
  background-image: url(../img/box-img.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 545px; }

.box__left {
  padding-top: 42px;
  margin-top: 1px;
  background-image: url(../img/box-img.jpg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 545px; }

.box__left__container {
  background-color: #f3f4f5;
  padding: 61px 157px 90px 26px;
  height: 448px;
  width: 618px;
  margin-top: 10px; }

.box__container {
  padding-left: 42px;
  padding-right: 30px; }

.box__text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 24px; }

.box__text--2 {
  color: #ffffff; }

.box__text--1 {
  color: #2e2e2f; }

.box__heading {
  color: #ffffff;
  padding-bottom: 33px;
  text-transform: capitalize;
  line-height: 48px;
  letter-spacing: 1px; }

.box__heading--2 {
  color: #ffffff; }

.box__heading--1 {
  color: #2e2e2f; }

.box__left--1 {
  padding-left: 0;
  padding-right: 0; }

.box__right--2 {
  background-color: #1c1c1c;
  padding: 61px 132px 67px 45px;
  margin-bottom: 100px; }

.testimonials {
  text-align: center;
  background-color: #181a1b;
  padding-top: 105px;
  padding-bottom: 100px;
  margin-top: 1px; }

.testimonials__content {
  padding: 44px 125px;
  border: 1px solid #af943e;
  max-width: 1096px;
  height: 325px; }

.testimonials__heading {
  color: #ffffff;
  padding-bottom: 11px; }
  .testimonials__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 40px;
    margin: 14px auto; }

.testimonials__text {
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 20px;
  letter-spacing: 1.1px;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: lighter; }

.testimonials__span {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px; }

.accordion-toggle:before {
  font-family: 'FontAwesome';
  content: "\f105";
  float: left;
  margin-left: 80px;
  color: #af943e; }

.accordion-opened .accordion-toggle:before {
  content: "\f107"; }

.accordion-toggle {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  margin-left: 75px; }
  .accordion-toggle:hover {
    color: #333333;
    text-decoration: none; }

.accordion-group {
  padding: 10px 0; }

.accordion-body {
  background-color: #f5f5f5;
  width: 150%; }

.accordion-inner {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #666666;
  max-width: 67%;
  padding: 54px 0 54px 168px;
  margin-top: 50px;
  margin-bottom: 0;
  line-height: 24px; }

.questions {
  margin-top: 60px; }

.questions h2 {
  text-align: center; }

.questions__heading {
  padding-bottom: 10px;
  text-transform: none;
  margin-left: 40px; }
  .questions__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 40px;
    margin: 23px auto; }

.why {
  background-image: url(../img/whyus.jpg);
  background-position: left;
  background-size: auto;
  background-repeat: no-repeat;
  margin-top: 64px;
  background-color: #af943e; }

.why__container {
  box-sizing: border-box; }

.why__content {
  background-color: #af943e;
  padding: 67px 92px 72px 105px; }

.why__heading {
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 0.5px; }

.why__tabs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px; }

.tab {
  margin-left: -10px;
  margin-top: 18px; }

.why__tabs label {
  order: 1;
  opacity: .4;
  display: block;
  padding: 10px 53px 10px 53px;
  background: #af943e;
  font-weight: bold;
  transition: all .2s;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff; }

.why__tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 10px;
  background: #af943e;
  color: #ffffff;
  text-align: justify;
  position: relative; }

.why__tabs input[type="radio"] {
  display: none; }

.why__tabs input[type="radio"]:checked + label {
  background: #af943e;
  opacity: 1;
  border-bottom: 3px solid #ffffff; }
  .why__tabs input[type="radio"]:checked + label::after {
    content: '';
    height: 1px;
    width: 72.5%;
    background-color: #ffffff;
    display: block;
    margin: 0px -38px;
    position: absolute;
    top: 217px;
    left: 142px; }

.why__tabs input[type="radio"]:checked + label + .tab {
  display: block; }

@media (max-width: 45em) {
  .why__tabs .tab,
  .why__tabs label {
    order: initial; }
  .why__tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem; } }

.gallery {
  text-align: center;
  margin-top: 64px; }

.gallery__heading::after {
  content: '';
  background-color: #af943e;
  height: 2px;
  display: block;
  margin: 10px auto;
  width: 40px; }

.gallery__images {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .gallery__images img {
    margin-bottom: 23px;
    height: 300px;
    width: 300px; }

.map {
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 465px;
  margin-top: 50px;
  position: relative; }

.google {
  position: absolute;
  right: 298px;
  bottom: -1px;
  font-family: myriad-pro, sans-serif;
  font-size: 18px;
  color: #808080;
  letter-spacing: 1.1px; }

.map__content {
  position: relative;
  width: 100%;
  height: 100%; }

.map__box {
  height: 540px;
  width: 540px;
  background-color: #ffffff;
  padding: 72px 250px 90px 88px;
  -webkit-box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 199px;
  left: 81px; }

.map__goldSpan {
  color: #af943e;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 5.5px;
  text-transform: uppercase; }

.map__heading {
  line-height: 36px;
  margin-top: 18px;
  letter-spacing: 1px; }

.map__list {
  list-style: none;
  line-height: 25px;
  margin-top: 24px; }

.map__item {
  color: #808080;
  font-size: 14px;
  font-family: 'Poppins', sans-serif; }

.map__social {
  height: 181px;
  width: 450px;
  position: absolute;
  bottom: -186px;
  right: 55px; }

.map__icons {
  font-size: 25px; }

.map__icons--mail:link,
.map__icons--mail:active,
.map__icons--mail:visited {
  position: absolute;
  top: -1px;
  left: 1px;
  border: 1px solid transparent;
  padding: 70px 73px;
  padding-left: 78px;
  color: #ffffff;
  background-color: #212121; }

.map__icons--linkedin:link,
.map__icons--linkedin:active,
.map__icons--linkedin:visited {
  background-color: #e9e9e9;
  color: #212121;
  border: 1px solid transparent;
  position: absolute;
  padding: 26px 33px;
  bottom: -88px;
  left: 179px; }

.map__icons--mailxs:link,
.map__icons--mailxs:active,
.map__icons--mailxs:visited {
  position: absolute;
  top: -92px;
  right: 91px;
  border: 1px solid transparent;
  padding: 26px 32px;
  color: #ffffff;
  background-color: #b8976a; }

.map__icons--twitter:link,
.map__icons--twitter:active,
.map__icons--twitter:visited {
  background-color: #e9e9e9;
  color: #212121;
  border: 1px solid transparent;
  position: absolute;
  padding: 27px 31px;
  top: -2px;
  left: 179px; }

.map__icons--facebook:link,
.map__icons--facebook:active,
.map__icons--facebook:visited {
  position: absolute;
  bottom: 2px;
  right: 92px;
  border: 1px solid transparent;
  padding: 26px 36px;
  color: #ffffff;
  background-color: #212121; }

.map__icons--instagram:link,
.map__icons--instagram:active,
.map__icons--instagram:visited {
  position: absolute;
  bottom: -88px;
  right: 3px;
  border: 1px solid transparent;
  padding: 25px 32px;
  color: #ffffff;
  background-color: #b8976a; }

.contact {
  background-image: url(../img/contact.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  margin-top: 394px;
  height: 787px; }

.contact__content {
  padding-top: 65px;
  padding-left: 100px; }

.contact__heading {
  margin-bottom: 0; }

.contact__subhead {
  font-size: 16px;
  color: #666666;
  line-height: 30px;
  font-family: 'Merriweather', serif; }

.contact__info {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  margin-top: 33px; }

.contact__info--left {
  list-style: none; }

.contact__info--right {
  list-style: none; }

.contact__write {
  text-transform: capitalize;
  margin-top: 15px;
  letter-spacing: 0.2px;
  position: relative; }
  .contact__write::after {
    content: '';
    height: 1px;
    background-color: #666666;
    width: 173px;
    position: absolute;
    bottom: -14px;
    left: -1px; }
  .contact__write::before {
    content: '';
    height: 4px;
    background-color: #666666;
    width: 60px;
    position: absolute;
    bottom: -18px;
    left: -1px; }

.contact__form {
  margin-top: 55px;
  width: 115%; }
  .contact__form label {
    font-size: 14px;
    color: #c2c2c2;
    line-height: 24px;
    display: block; }
  .contact__form input {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #666666;
    display: block; }
    .contact__form input:focus {
      border-bottom: 1px solid #97d3d5;
      outline: none; }
  .contact__form ::placeholder {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif; }

.contact__inputs {
  display: flex;
  justify-content: space-between;
  height: auto; }

.contact__inputs--left {
  flex: 1;
  margin-right: 47px;
  padding-left: 3px; }
  .contact__inputs--left input {
    margin-top: 16px;
    padding-bottom: 6px; }

.contact__inputs--right {
  flex: 1; }
  .contact__inputs--right input {
    margin-top: 16px;
    padding-bottom: 6px; }

.contact__textarea {
  margin-top: 48px;
  position: relative; }
  .contact__textarea textarea {
    margin-top: 14px;
    border: 1px solid #666666;
    padding: 12px 10px;
    width: 103%;
    height: 134px; }

.contact__btn {
  position: absolute;
  bottom: -63px;
  right: -66px;
  padding: 15px 50px; }
