@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/*
$breakpoints:
s small-phone - 576px
xs phone - 640px
sm tab-port - 768px
md tab-land  - 992px
lg small-pc  - 1200px

@include responsive(tab-land) {
        
}
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif; }

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1126px; } }

.heading-1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2.4px; }

.heading-2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px; }
  @media only screen and (max-width: 992px) {
    .heading-2 {
      font-size: 30px; } }
  @media only screen and (max-width: 576px) {
    .heading-2 {
      font-size: 25px; } }
  @media only screen and (max-width: 450px) {
    .heading-2 {
      font-size: 20px; } }

.header__top {
  background-color: #2e2e2f;
  height: 40px;
  width: 100%; }
  @media only screen and (max-width: 390px) {
    .header__top {
      height: 50px; } }

.header__bottom {
  height: 120px; }
  @media only screen and (max-width: 768px) {
    .header__bottom {
      height: 80px; } }

.header__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

@media only screen and (max-width: 390px) {
  .miniTop {
    display: flex;
    flex-direction: column;
    padding: 1px; } }

@media only screen and (max-width: 992px) {
  .header__logo {
    width: 30%; } }

@media only screen and (max-width: 768px) {
  .header__logo {
    width: 33%; } }

@media only screen and (max-width: 450px) {
  .header__logo {
    width: 50%; } }

@media only screen and (max-width: 992px) {
  .header__logo img {
    width: 100%; } }

.header__span, .header__span:link, .header__span:active, .header__span:visited {
  font-size: 12px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif; }
  @media only screen and (max-width: 576px) {
    .header__span, .header__span:link, .header__span:active, .header__span:visited {
      font-size: 10px;
      text-decoration: none; } }

.header__top--left .header__span:not(:last-child) {
  margin-right: 43px; }
  @media only screen and (max-width: 576px) {
    .header__top--left .header__span:not(:last-child) {
      margin-right: 10px; } }

.header__top--right span {
  margin-right: 12px; }

.header__link:visited,
.header__link:link {
  font-size: 14px;
  color: #ffffff; }
  @media only screen and (max-width: 576px) {
    .header__link:visited,
    .header__link:link {
      font-size: 12px; } }
  .header__link:visited:hover,
  .header__link:link:hover {
    color: #af943e; }

.header__link--left:visited, .header__link--left:link {
  margin-right: 10px; }
  @media only screen and (max-width: 576px) {
    .header__link--left:visited, .header__link--left:link {
      margin-right: 5px; } }

.header__link--right:visited:not(:last-child), .header__link--right:link:not(:last-child) {
  margin-right: 19px; }

footer {
  background-color: #181a1b;
  height: 500px;
  font-family: 'Poppins', sans-serif; }
  @media only screen and (max-width: 768px) {
    footer {
      height: auto; } }

.footer {
  height: 100%; }

@media only screen and (max-width: 992px) {
  .footer__left img {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .footer__left img {
    width: 55%; } }

@media only screen and (max-width: 768px) {
  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.footer__content {
  padding-top: 162px; }

.footer__p {
  color: #888888;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  max-width: 350px;
  text-align: justify; }
  @media only screen and (max-width: 992px) {
    .footer__p {
      font-size: 13px; } }

.footer__socialNetworks {
  margin-top: 30px;
  position: relative; }
  @media only screen and (max-width: 992px) {
    .footer__socialNetworks {
      margin-top: 20px; } }

.circle {
  width: 35px;
  height: 35px;
  border: 1px solid #af943e;
  padding: 6px 5px;
  border-radius: 50%;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  margin-right: 6px;
  font-weight: 700;
  color: #ffffff; }
  .circle:hover {
    background-color: #af943e;
    color: #181a1b; }

.footer__socialNetwork {
  margin-right: 25px; }
  .footer__socialNetwork a i {
    position: absolute;
    top: 7px;
    left: 10px; }

.footer__center {
  margin-top: 13px;
  padding-left: 110px; }
  @media only screen and (max-width: 992px) {
    .footer__center {
      padding-left: 75px;
      margin-top: 15px; } }
  @media only screen and (max-width: 768px) {
    .footer__center {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0; } }

.footer__heading {
  font-size: 18px;
  line-height: 33px;
  color: #ffffff;
  text-transform: uppercase; }
  .footer__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 40px;
    margin: 14px 0; }
    @media only screen and (max-width: 768px) {
      .footer__heading::after {
        margin: 14px auto; } }

.footer__list {
  list-style: none;
  line-height: 36px; }

.footer__list--2 {
  padding-left: 26px; }

.arrow::before {
  content: "\00BB \0020";
  color: #ffffff;
  margin-right: 10px; }

.footer__link i {
  margin-left: -30px;
  margin-right: 13px;
  color: #ffffff; }

.footer__link:link,
.footer__link:visited,
.footer__link:active {
  color: #888888;
  font-size: 14px;
  text-decoration: none;
  margin-left: 5px; }

.footer__link:hover {
  border-bottom: 1px solid #ffffff; }

.footer__right {
  margin-top: 13px;
  align-self: center; }
  @media only screen and (max-width: 1200px) {
    .footer__right {
      margin-top: 0; } }
  @media only screen and (max-width: 992px) {
    .footer__right {
      margin-bottom: 2px; } }
  @media only screen and (max-width: 768px) {
    .footer__right {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.copyright {
  color: #ffffff;
  background-color: #141516;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  height: 60px;
  font-family: 'Poppins', sans-serif;
  padding: 23px 0;
  font-weight: 100; }
  @media only screen and (max-width: 1200px) {
    .copyright {
      padding: 15px 0; } }
  @media only screen and (max-width: 450px) {
    .copyright {
      font-size: 11px; } }

.btn-gold {
  padding: 15px 38px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  background-color: #af943e;
  border: none;
  border-radius: 0;
  outline: none;
  font-family: 'Poppins', sans-serif; }
  .btn-gold:active, .btn-gold:focus {
    outline: none; }
  .btn-gold:hover {
    color: #ffffff;
    background-color: #1c1c1c; }

.map__btn {
  text-transform: uppercase;
  background-color: #ffffff;
  color: #1c1c1c;
  border: 2px solid #1c1c1c;
  padding: 17px 33px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  outline: none;
  margin-top: 39px;
  letter-spacing: .1px; }
  .map__btn:active, .map__btn:focus {
    outline: none; }
  .map__btn:hover {
    color: #ffffff;
    background-color: #1c1c1c; }
  @media only screen and (max-width: 768px) {
    .map__btn {
      margin-top: 15px;
      padding: 13px 20px; } }

.gold-card__btn {
  text-transform: uppercase;
  background-color: #ffffff;
  color: #1c1c1c;
  border: none;
  padding: 14px 32px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  outline: none;
  margin-left: 33px; }
  .gold-card__btn:active, .gold-card__btn:focus {
    outline: none; }
  .gold-card__btn:hover {
    color: #ffffff;
    background-color: #1c1c1c; }
  @media only screen and (max-width: 992px) {
    .gold-card__btn {
      padding: 11px 20px; } }
  @media only screen and (max-width: 768px) {
    .gold-card__btn {
      margin-left: 0;
      padding: 11px 32px; } }
  @media only screen and (max-width: 450px) {
    .gold-card__btn {
      font-size: 12px;
      padding: 8px 20px; } }

.nav__menu {
  margin-bottom: 0; }
  @media only screen and (max-width: 768px) {
    .nav__menu {
      display: none; } }

.nav__list {
  display: flex;
  position: relative; }

.nav__item {
  list-style: none;
  margin-top: 21px; }
  .nav__item a:hover::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 36px;
    margin-left: 5px;
    position: absolute;
    top: 59px; }
  .nav__item:not(:last-child) {
    margin-right: 35px; }

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #2e2e2f;
  display: inline-block;
  font-weight: 700;
  font-size: 16px; }
  @media only screen and (max-width: 992px) {
    .nav__link:link,
    .nav__link:visited {
      font-size: 15px; } }

.miniNav:link,
.miniNav:active,
.miniNav:visited {
  text-decoration: none;
  cursor: pointer;
  height: 3px;
  width: 50px;
  background-color: #af943e;
  display: none;
  position: absolute;
  top: 50%;
  right: 15px; }
  @media only screen and (max-width: 768px) {
    .miniNav:link,
    .miniNav:active,
    .miniNav:visited {
      display: block; } }
  .miniNav:link::before, .miniNav:link::after,
  .miniNav:active::before,
  .miniNav:active::after,
  .miniNav:visited::before,
  .miniNav:visited::after {
    content: '';
    height: 3px;
    width: 50px;
    background-color: #af943e;
    display: none; }
    @media only screen and (max-width: 768px) {
      .miniNav:link::before, .miniNav:link::after,
      .miniNav:active::before,
      .miniNav:active::after,
      .miniNav:visited::before,
      .miniNav:visited::after {
        display: block; } }
  .miniNav:link::before,
  .miniNav:active::before,
  .miniNav:visited::before {
    transform: translateY(-8px); }
  .miniNav:link::after,
  .miniNav:active::after,
  .miniNav:visited::after {
    transform: translateY(6px); }

.slider {
  width: 100%; }
  .slider .slide {
    position: relative;
    width: 100%;
    height: 780px;
    background-image: url("../img/cover.jpg");
    background-position: right;
    background-size: cover; }
    @media only screen and (max-width: 992px) {
      .slider .slide {
        height: 700px; } }
    @media only screen and (max-width: 768px) {
      .slider .slide {
        height: 500px; } }
    @media only screen and (max-width: 576px) {
      .slider .slide {
        height: 350px; } }
    @media only screen and (max-width: 450px) {
      .slider .slide {
        background-position: top; } }
  .slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50.3%;
    transform: translateX(-59%);
    list-style-type: none; }
    .slider .slick-dots button {
      display: block;
      border: 1px solid #2e2e2f;
      border-radius: 50%;
      background-color: transparent;
      height: 10px;
      width: 10px;
      margin: 0 4px; }
    .slider .slick-dots li.slick-active button {
      background-color: #2e2e2f; }
    .slider .slick-dots li button {
      font-size: 0; }

.testimonials__slider {
  width: 100%; }
  .testimonials__slider .testimonials__slide {
    position: relative;
    width: 100%;
    height: auto; }
  .testimonials__slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 23px;
    left: 50.5%;
    transform: translateX(-59%);
    list-style-type: none; }
    @media only screen and (max-width: 450px) {
      .testimonials__slider .slick-dots {
        bottom: 8px; } }
    .testimonials__slider .slick-dots button {
      display: block;
      border: 1px solid #af943e;
      border-radius: 50%;
      background-color: transparent;
      height: 10px;
      width: 10px;
      margin: 0 4px; }
    .testimonials__slider .slick-dots li.slick-active button {
      background-color: #af943e; }
    .testimonials__slider .slick-dots li button {
      font-size: 0; }

.banner {
  position: relative;
  max-height: 780px; }
  @media only screen and (max-width: 992px) {
    .banner {
      max-height: 500px; } }

.banner__content {
  position: absolute;
  height: 295px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 12px;
  padding-left: 13px; }
  @media only screen and (max-width: 576px) {
    .banner__content {
      top: 57%; } }

.banner__wrap {
  width: 50%;
  margin-top: -20px; }

.banner__btn {
  margin-top: 18px;
  letter-spacing: .4px;
  padding: 14px 36px; }
  @media only screen and (max-width: 576px) {
    .banner__btn {
      padding: 12px 29px; } }
  @media only screen and (max-width: 450px) {
    .banner__btn {
      margin-top: 5px;
      padding: 10px 18px;
      font-size: 13px; } }

.banner__heading {
  padding-bottom: 0; }
  @media only screen and (max-width: 992px) {
    .banner__heading {
      font-size: 42px; } }
  @media only screen and (max-width: 768px) {
    .banner__heading {
      font-size: 32px; } }
  @media only screen and (max-width: 576px) {
    .banner__heading {
      font-size: 27px; } }
  @media only screen and (max-width: 450px) {
    .banner__heading {
      font-size: 25px; } }
  .banner__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 50px;
    margin-top: 20px;
    margin-left: 5px; }

.banner__p {
  font-size: 18px;
  font-family: 'Merriweather', serif;
  margin-top: 29px;
  letter-spacing: 0.2px;
  max-width: 500px;
  margin-top: 28px;
  letter-spacing: .2px;
  line-height: 29px; }
  @media only screen and (max-width: 768px) {
    .banner__p {
      font-size: 15px;
      max-width: 350px; } }
  @media only screen and (max-width: 576px) {
    .banner__p {
      font-size: 13px; } }
  @media only screen and (max-width: 450px) {
    .banner__p {
      margin-top: 15px; } }

.services {
  padding: 100px 0;
  text-align: center; }
  @media only screen and (max-width: 992px) {
    .services {
      margin-top: 190px; } }
  @media only screen and (max-width: 768px) {
    .services {
      margin-top: 10px; } }
  @media only screen and (max-width: 576px) {
    .services {
      margin-top: 0;
      padding: 65px 0; } }

.services__heading::after {
  content: '';
  background-color: #af943e;
  height: 2px;
  display: block;
  width: 40px;
  margin: 20px auto; }

.services__text {
  color: #666666;
  font-size: 16px;
  letter-spacing: 1.2px; }

.services__cards {
  padding: 93px 24px 34px 15px; }
  @media only screen and (max-width: 992px) {
    .services__cards {
      padding: 50px 24px 34px 15px; } }

.services__card img {
  margin-top: 45px;
  margin-bottom: 30px; }

.services__card--1 {
  background-image: url(../img/services/services1.jpg);
  width: 259px;
  height: 200px; }
  @media only screen and (max-width: 1200px) {
    .services__card--1 {
      width: 210px; } }
  @media only screen and (max-width: 992px) {
    .services__card--1 {
      margin: 15px auto;
      width: 259px; } }
  @media only screen and (max-width: 768px) {
    .services__card--1 {
      width: 230px; } }
  @media only screen and (max-width: 576px) {
    .services__card--1 {
      width: 300px;
      background-position: center;
      background-repeat: no-repeat; } }

.services__card--2 {
  background-image: url(../img/services/services2.jpg);
  width: 259px;
  height: 200px; }
  @media only screen and (max-width: 1200px) {
    .services__card--2 {
      width: 210px; } }
  @media only screen and (max-width: 992px) {
    .services__card--2 {
      margin: 15px auto;
      width: 259px; } }
  @media only screen and (max-width: 768px) {
    .services__card--2 {
      width: 230px; } }
  @media only screen and (max-width: 576px) {
    .services__card--2 {
      width: 300px;
      background-position: center;
      background-repeat: no-repeat; } }

.services__card--3 {
  background-image: url(../img/services/services3.jpg);
  width: 259px;
  height: 200px; }
  @media only screen and (max-width: 1200px) {
    .services__card--3 {
      width: 210px; } }
  @media only screen and (max-width: 992px) {
    .services__card--3 {
      margin: 15px auto;
      width: 259px; } }
  @media only screen and (max-width: 768px) {
    .services__card--3 {
      width: 230px; } }
  @media only screen and (max-width: 576px) {
    .services__card--3 {
      width: 300px;
      background-position: center;
      background-repeat: no-repeat; } }

.services__card--4 {
  background-image: url(../img/services/services4.jpg);
  width: 259px;
  height: 200px; }
  @media only screen and (max-width: 1200px) {
    .services__card--4 {
      width: 210px; } }
  @media only screen and (max-width: 992px) {
    .services__card--4 {
      margin: 15px auto;
      width: 259px; } }
  @media only screen and (max-width: 768px) {
    .services__card--4 {
      width: 230px; } }
  @media only screen and (max-width: 576px) {
    .services__card--4 {
      width: 300px;
      background-position: center;
      background-repeat: no-repeat; } }

.services__span {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  letter-spacing: .8px; }
  @media only screen and (max-width: 1200px) {
    .services__span {
      font-size: 15px; } }

.story {
  background-color: #f3f4f5;
  width: 100%;
  padding-top: 145px;
  padding-bottom: 170px; }
  @media only screen and (max-width: 1200px) {
    .story {
      padding-top: 90px; } }
  @media only screen and (max-width: 992px) {
    .story {
      padding-top: 80px;
      padding-bottom: 110px; } }
  @media only screen and (max-width: 768px) {
    .story {
      padding-bottom: 90px; } }

.story__content--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-top: 55px; }
  @media only screen and (max-width: 992px) {
    .story__content--right {
      padding-left: 15px; } }

.story__img {
  position: relative;
  z-index: 5; }
  @media only screen and (max-width: 1200px) {
    .story__img img {
      width: 95%; } }
  @media only screen and (max-width: 992px) {
    .story__img img {
      width: 100%; } }
  @media only screen and (max-width: 576px) {
    .story__img img {
      width: 97%; } }
  .story__img::after {
    content: '';
    width: 445px;
    height: 100%;
    border: 1px solid #af943e;
    position: absolute;
    top: 24px;
    right: 77px;
    z-index: -1; }
    @media only screen and (max-width: 1200px) {
      .story__img::after {
        width: 420px;
        right: 19px; } }
    @media only screen and (max-width: 992px) {
      .story__img::after {
        width: 314px;
        right: 6px;
        top: 17px;
        height: 73%; } }
    @media only screen and (max-width: 768px) {
      .story__img::after {
        width: 500px;
        height: 100%;
        right: -6px;
        top: 23px; } }
    @media only screen and (max-width: 576px) {
      .story__img::after {
        width: 513px;
        right: 7px; } }
    @media only screen and (max-width: 450px) {
      .story__img::after {
        width: 85%;
        right: 8px;
        height: 97%; } }

.story__heading {
  margin-top: 31px; }
  .story__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 40px;
    margin-top: 14px;
    margin-bottom: 4px; }

.story__subhead {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: #666666;
  margin-top: 10px;
  letter-spacing: .1px; }
  @media only screen and (max-width: 992px) {
    .story__subhead {
      font-size: 15px; } }

.story__text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  margin-bottom: 20px; }
  @media only screen and (max-width: 992px) {
    .story__text {
      font-size: 12px; } }

.box__right {
  padding-top: 42px;
  margin-top: 1px;
  background-image: url(../img/box-img.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 550px; }
  @media only screen and (max-width: 1200px) {
    .box__right {
      padding-top: 12px;
      margin-top: 0;
      max-height: 400px; } }
  @media only screen and (max-width: 992px) {
    .box__right {
      padding-top: 20px; } }
  @media only screen and (max-width: 768px) {
    .box__right {
      background-size: cover;
      padding-top: 55px; } }
  @media only screen and (max-width: 450px) {
    .box__right {
      padding-top: 0; } }

.box__left {
  padding-top: 42px;
  margin-top: -1px;
  background-image: url(../img/box-img.jpg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 550px; }
  @media only screen and (max-width: 1200px) {
    .box__left {
      padding-top: 12px;
      height: 400px; } }
  @media only screen and (max-width: 768px) {
    .box__left {
      background-size: cover;
      padding-top: 55px; } }
  @media only screen and (max-width: 450px) {
    .box__left {
      padding-top: 25px; } }

.box__left__container {
  background-color: #f3f4f5;
  padding: 61px 157px 90px 28px;
  height: 448px;
  width: 99%;
  margin-top: 9px; }
  @media only screen and (max-width: 1200px) {
    .box__left__container {
      padding: 20px 100px 10px 48px;
      margin-top: 0;
      height: 376px; } }
  @media only screen and (max-width: 992px) {
    .box__left__container {
      padding: 35px 3px 10px 20px; } }
  @media only screen and (max-width: 768px) {
    .box__left__container {
      height: 270px; } }
  @media only screen and (max-width: 576px) {
    .box__left__container {
      padding: 10px 10px 0 20px;
      height: 330px; } }
  @media only screen and (max-width: 450px) {
    .box__left__container {
      padding: 4px 0 30px 5px;
      height: auto; } }

.box__container {
  padding-left: 32px;
  padding-right: 30px; }
  @media only screen and (max-width: 768px) {
    .box__container {
      opacity: .9;
      padding-left: 40px;
      padding-right: 40px; } }
  @media only screen and (max-width: 450px) {
    .box__container {
      padding-top: 30px; } }

.box__container--2 {
  padding-left: 43px;
  padding-right: 30px; }

.box__text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 24px; }
  @media only screen and (max-width: 992px) {
    .box__text {
      font-size: 13px; } }
  @media only screen and (max-width: 450px) {
    .box__text {
      font-size: 13px; } }

.box__text--2 {
  color: #ffffff; }

.box__text--1 {
  color: #2e2e2f; }

.box__heading {
  color: #ffffff;
  padding-bottom: 20px;
  text-transform: capitalize;
  line-height: 48px;
  letter-spacing: 1px; }
  @media only screen and (max-width: 768px) {
    .box__heading {
      padding-bottom: 0; } }
  @media only screen and (max-width: 450px) {
    .box__heading {
      line-height: 30px; } }

.box__heading--2 {
  color: #ffffff; }

.box__heading--1 {
  color: #2e2e2f; }

.box__left--1 {
  padding-left: 0;
  padding-right: 0; }

.box__right--2 {
  background-color: #1c1c1c;
  padding: 61px 132px 67px 48px;
  margin-bottom: 100px; }
  @media only screen and (max-width: 1200px) {
    .box__right--2 {
      padding: 20px 100px 10px 48px; } }
  @media only screen and (max-width: 992px) {
    .box__right--2 {
      padding: 35px 3px 10px 20px; } }
  @media only screen and (max-width: 576px) {
    .box__right--2 {
      padding: 10px 3px 50px 20px; } }
  @media only screen and (max-width: 450px) {
    .box__right--2 {
      padding: 0 3px 0 5px; } }

.testimonials {
  text-align: center;
  background-color: #181a1b;
  padding-top: 98px;
  padding-bottom: 100px;
  margin-top: 1px;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .testimonials {
      padding-top: 50px;
      padding-bottom: 50px; } }
  @media only screen and (max-width: 450px) {
    .testimonials {
      padding-top: 43px; } }

.testimonials__content {
  padding: 44px 125px;
  border: 1px solid #af943e;
  max-width: 1096px;
  height: 325px; }
  @media only screen and (max-width: 1200px) {
    .testimonials__content {
      padding: 44px 54px;
      max-width: 950px; } }
  @media only screen and (max-width: 992px) {
    .testimonials__content {
      padding: 44px 0;
      max-width: 830px; } }

.testimonials__quote {
  height: 50px;
  background-color: #181a1b;
  color: #af943e;
  padding: 0 17px;
  font-size: 70px;
  position: absolute;
  top: 61px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-family: initial; }
  @media only screen and (max-width: 768px) {
    .testimonials__quote {
      top: 13px; } }

.testimonials__heading {
  color: #ffffff;
  padding-bottom: 11px; }
  @media only screen and (max-width: 450px) {
    .testimonials__heading {
      padding-bottom: 0; } }
  .testimonials__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 40px;
    margin: 14px auto; }

.testimonials__text {
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 20px;
  letter-spacing: 1.1px;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: lighter; }
  @media only screen and (max-width: 992px) {
    .testimonials__text {
      font-size: 14px;
      letter-spacing: .9px; } }
  @media only screen and (max-width: 450px) {
    .testimonials__text {
      font-size: 11px; } }

.testimonials__span {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px; }
  @media only screen and (max-width: 450px) {
    .testimonials__span {
      font-size: 11px; } }

.accordion-toggle::before {
  font-family: 'FontAwesome';
  content: "\f107";
  float: left;
  margin-left: 80px;
  color: #af943e; }
  @media only screen and (max-width: 992px) {
    .accordion-toggle::before {
      margin-left: 10px; } }

.collapsed::before {
  font-family: 'FontAwesome';
  content: "\f105";
  float: left;
  margin-left: 80px;
  color: #af943e; }
  @media only screen and (max-width: 992px) {
    .collapsed::before {
      margin-left: 10px; } }

.accordion-toggle {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  margin-left: 75px;
  letter-spacing: .2px; }
  @media only screen and (max-width: 768px) {
    .accordion-toggle {
      margin-left: 30px;
      font-size: 20px; } }
  @media only screen and (max-width: 450px) {
    .accordion-toggle {
      margin-left: 10px;
      font-size: 14px; } }
  .accordion-toggle:hover {
    color: #333333;
    text-decoration: none; }

.accordion-group {
  padding: 10px 0; }

.accordion-body {
  background-color: #f5f5f5;
  width: 100vw; }

.accordion-inner {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #666666;
  max-width: 57.5%;
  padding: 48px 0 35px 168px;
  margin-top: 52px;
  margin-bottom: 13px;
  line-height: 23px;
  position: relative;
  text-align: justify; }
  @media only screen and (max-width: 1200px) {
    .accordion-inner {
      max-width: 80%; } }
  @media only screen and (max-width: 992px) {
    .accordion-inner {
      padding: 35px 0 25px 95px;
      font-size: 13px; } }
  @media only screen and (max-width: 768px) {
    .accordion-inner {
      padding: 5px 0 5px 50px;
      font-size: 12px;
      max-width: 75%; } }
  @media only screen and (max-width: 576px) {
    .accordion-inner {
      max-width: 90%; } }
  @media only screen and (max-width: 450px) {
    .accordion-inner {
      padding: 5px 0 5px 30px; } }
  .accordion-inner::before {
    content: '';
    background-color: #af943e;
    height: 60px;
    width: 2px;
    position: absolute;
    top: -21px;
    left: 86px; }
    @media only screen and (max-width: 992px) {
      .accordion-inner::before {
        left: 13px; } }
  .accordion-inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 99%;
    height: 100%;
    width: 100vw;
    background-color: #f5f5f5; }

.question__text {
  max-width: 924px;
  text-align: justify; }
  @media only screen and (max-width: 450px) {
    .question__text {
      font-size: 11px; } }

.questions {
  margin-top: 60px;
  overflow: hidden; }

.questions h2 {
  text-align: center; }

.questions__heading {
  padding-bottom: 10px;
  text-transform: none;
  margin-left: 40px;
  letter-spacing: 1.5px; }
  @media only screen and (max-width: 450px) {
    .questions__heading {
      margin-left: 0; } }
  .questions__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 40px;
    margin: 23px auto; }

.why {
  margin-top: 61px;
  position: relative;
  max-height: 494px;
  background-color: #af943e; }
  @media only screen and (max-width: 768px) {
    .why {
      max-height: 100%; } }

.why__img {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .why__img img {
    height: 100%; }
    @media only screen and (max-width: 768px) {
      .why__img img {
        width: 100%; } }

.why__container {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }
  @media only screen and (max-width: 1200px) {
    .why__container {
      opacity: .9; } }
  @media only screen and (max-width: 768px) {
    .why__container {
      position: relative;
      left: 0;
      transform: translateY(0); } }
  @media only screen and (max-width: 450px) {
    .why__container {
      height: 600px; } }

.why__content {
  max-height: 494px;
  background-color: #af943e;
  padding: 68px 92px 70px 105px; }
  @media only screen and (max-width: 1200px) {
    .why__content {
      padding: 98px 92px 70px 105px; } }
  @media only screen and (max-width: 992px) {
    .why__content {
      padding: 68px 0 70px 66px; } }
  @media only screen and (max-width: 768px) {
    .why__content {
      padding: 50px 0 40px 0; } }
  @media only screen and (max-width: 576px) {
    .why__content {
      padding: 20px 40px; } }

.why__heading {
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 0.5px; }

.why__tabs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px; }
  @media only screen and (max-width: 1200px) {
    .why__tabs {
      margin-top: 30px; } }
  @media only screen and (max-width: 450px) {
    .why__tabs {
      margin-top: 0; } }

.tab {
  margin-left: -10px;
  margin-top: 18px; }
  @media only screen and (max-width: 576px) {
    .tab {
      font-size: 14px; } }

.why__tabs label {
  order: 1;
  opacity: .4;
  display: block;
  padding: 10px 53px 10px 53px;
  background: #af943e;
  font-weight: bold;
  transition: all .2s;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff; }
  @media only screen and (max-width: 1200px) {
    .why__tabs label {
      padding: 10px 27px 10px 30px; } }
  @media only screen and (max-width: 992px) {
    .why__tabs label {
      padding: 10px 27px 10px 30px; } }
  @media only screen and (max-width: 768px) {
    .why__tabs label {
      padding: 10px 50px; } }
  @media only screen and (max-width: 576px) {
    .why__tabs label {
      width: 100%;
      order: initial;
      text-align: center; } }

.why__tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 10px;
  background: #af943e;
  color: #ffffff;
  text-align: justify;
  position: relative; }
  @media only screen and (max-width: 576px) {
    .why__tabs .tab {
      order: initial; } }

.why__tabs input[type="radio"] {
  display: none; }

.why__tabs input[type="radio"]:checked + label {
  background: #af943e;
  opacity: 1;
  border-bottom: 3px solid #ffffff; }
  .why__tabs input[type="radio"]:checked + label::after {
    content: '';
    height: 1px;
    width: 72.5%;
    background-color: #ffffff;
    display: block;
    margin: 0px -38px;
    position: absolute;
    top: 217px;
    left: 142px; }
    @media only screen and (max-width: 1200px) {
      .why__tabs input[type="radio"]:checked + label::after {
        top: 218px;
        left: 143px;
        width: 400px; } }
    @media only screen and (max-width: 992px) {
      .why__tabs input[type="radio"]:checked + label::after {
        top: 181px;
        left: 105px; } }
    @media only screen and (max-width: 768px) {
      .why__tabs input[type="radio"]:checked + label::after {
        top: 163px;
        left: 38px;
        width: 530px; } }
    @media only screen and (max-width: 576px) {
      .why__tabs input[type="radio"]:checked + label::after {
        display: none; } }

.why__tabs input[type="radio"]:checked + label + .tab {
  display: block; }

.gallery {
  text-align: center;
  margin-top: 62px; }

.gallery__heading::after {
  content: '';
  background-color: #af943e;
  height: 2px;
  display: block;
  margin: 14px auto;
  width: 40px; }

.gallery__images {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .gallery__images img {
    margin-bottom: 23px;
    height: 300px;
    width: 300px; }
    @media only screen and (max-width: 1200px) {
      .gallery__images img {
        height: 250px;
        width: 250px; } }
    @media only screen and (max-width: 768px) {
      .gallery__images img {
        height: 180px;
        width: 180px; } }
    @media only screen and (max-width: 576px) {
      .gallery__images img {
        height: 135px;
        width: 135px; } }
  @media only screen and (max-width: 992px) {
    .gallery__images {
      justify-content: space-around; } }

.map {
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 465px;
  margin-top: 50px;
  position: relative; }

.google {
  position: absolute;
  right: -87px;
  bottom: -1px;
  font-family: myriad-pro, sans-serif;
  font-size: 18px;
  color: #808080;
  letter-spacing: 1.1px;
  opacity: .7; }
  @media only screen and (max-width: 1200px) {
    .google {
      right: 25px; } }
  @media only screen and (max-width: 992px) {
    .google {
      right: -10px;
      font-size: 15px; } }
  @media only screen and (max-width: 768px) {
    .google {
      right: -20px; } }
  @media only screen and (max-width: 576px) {
    .google {
      right: 130px;
      font-size: 13px; } }
  @media only screen and (max-width: 390px) {
    .google {
      right: 80px; } }

.map__content {
  position: relative;
  width: 100%;
  height: 100%; }

.map__box {
  height: 540px;
  width: 540px;
  background-color: #ffffff;
  padding: 72px 250px 90px 88px;
  -webkit-box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 199px;
  left: 81px; }
  @media only screen and (max-width: 1200px) {
    .map__box {
      height: 455px;
      width: 360px;
      padding: 33px 90px 60px 50px; } }
  @media only screen and (max-width: 992px) {
    .map__box {
      left: 0; } }
  @media only screen and (max-width: 768px) {
    .map__box {
      height: 370px;
      width: 290px;
      padding: 20px 20px 10px 20px; } }
  @media only screen and (max-width: 576px) {
    .map__box {
      top: 45px;
      left: 35px; } }
  @media only screen and (max-width: 450px) {
    .map__box {
      left: 25px; } }

.map__goldSpan {
  color: #af943e;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 5.5px;
  text-transform: uppercase; }

.map__heading {
  line-height: 36px;
  margin-top: 18px;
  letter-spacing: .5px; }
  @media only screen and (max-width: 768px) {
    .map__heading {
      margin-top: 7px; } }

.map__list {
  list-style: none;
  line-height: 25px;
  margin-top: 24px; }
  @media only screen and (max-width: 768px) {
    .map__list {
      margin-top: 10px; } }

.map__item {
  color: #808080;
  font-size: 14px;
  font-family: 'Poppins', sans-serif; }

.map__social {
  height: 181px;
  width: 450px;
  position: absolute;
  bottom: -186px;
  right: 55px; }
  @media only screen and (max-width: 1200px) {
    .map__social {
      right: 69px;
      bottom: -183px; } }
  @media only screen and (max-width: 992px) {
    .map__social {
      width: 300px;
      right: 60px; } }
  @media only screen and (max-width: 576px) {
    .map__social {
      bottom: -247px;
      right: 217px; } }
  @media only screen and (max-width: 450px) {
    .map__social {
      right: 140px; } }
  @media only screen and (max-width: 390px) {
    .map__social {
      right: 110px; } }

.map__icons {
  font-size: 25px; }
  @media only screen and (max-width: 768px) {
    .map__icons {
      font-size: 20px; } }

.map__icons--mail:link,
.map__icons--mail:active,
.map__icons--mail:visited {
  position: absolute;
  top: -2px;
  left: 0;
  border: 1px solid transparent;
  padding: 70px 76px;
  color: #ffffff;
  background-color: #212121; }
  @media only screen and (max-width: 992px) {
    .map__icons--mail:link,
    .map__icons--mail:active,
    .map__icons--mail:visited {
      padding: 43px 49px; } }
  @media only screen and (max-width: 768px) {
    .map__icons--mail:link,
    .map__icons--mail:active,
    .map__icons--mail:visited {
      padding: 31px 42px;
      left: 110px; } }

.map__icons--linkedin:link,
.map__icons--linkedin:active,
.map__icons--linkedin:visited {
  background-color: #e9e9e9;
  color: #212121;
  border: 1px solid transparent;
  position: absolute;
  padding: 26px 33px;
  bottom: -88px;
  left: 179px; }
  @media only screen and (max-width: 992px) {
    .map__icons--linkedin:link,
    .map__icons--linkedin:active,
    .map__icons--linkedin:visited {
      padding: 13px 23px;
      bottom: -9px;
      left: 125px; } }
  @media only screen and (max-width: 768px) {
    .map__icons--linkedin:link,
    .map__icons--linkedin:active,
    .map__icons--linkedin:visited {
      padding: 7px 16px;
      bottom: 44px;
      left: 216px; } }

.map__icons--mailxs:link,
.map__icons--mailxs:active,
.map__icons--mailxs:visited {
  position: absolute;
  top: -92px;
  right: 91px;
  border: 1px solid transparent;
  padding: 26px 32px;
  color: #ffffff;
  background-color: #b8976a; }
  @media only screen and (max-width: 992px) {
    .map__icons--mailxs:link,
    .map__icons--mailxs:active,
    .map__icons--mailxs:visited {
      padding: 13px 20px;
      top: -67px;
      right: 41px; } }
  @media only screen and (max-width: 768px) {
    .map__icons--mailxs:link,
    .map__icons--mailxs:active,
    .map__icons--mailxs:visited {
      padding: 8px 15px;
      top: -49px;
      right: -20px; } }
  @media only screen and (max-width: 576px) {
    .map__icons--mailxs:link,
    .map__icons--mailxs:active,
    .map__icons--mailxs:visited {
      top: -46px;
      right: -21px; } }

.map__icons--twitter:link,
.map__icons--twitter:active,
.map__icons--twitter:visited {
  background-color: #e9e9e9;
  color: #212121;
  border: 1px solid transparent;
  position: absolute;
  padding: 27px 31px;
  top: -2px;
  left: 179px; }
  @media only screen and (max-width: 992px) {
    .map__icons--twitter:link,
    .map__icons--twitter:active,
    .map__icons--twitter:visited {
      padding: 13px 20px;
      top: 0;
      left: 126px; } }
  @media only screen and (max-width: 768px) {
    .map__icons--twitter:link,
    .map__icons--twitter:active,
    .map__icons--twitter:visited {
      padding: 7px 15px;
      left: 216px; } }

.map__icons--facebook:link,
.map__icons--facebook:active,
.map__icons--facebook:visited {
  position: absolute;
  bottom: 2px;
  right: 92px;
  border: 1px solid transparent;
  padding: 26px 36px;
  color: #ffffff;
  background-color: #212121; }
  @media only screen and (max-width: 992px) {
    .map__icons--facebook:link,
    .map__icons--facebook:active,
    .map__icons--facebook:visited {
      padding: 11px 23px;
      bottom: 55px;
      right: 43px; } }
  @media only screen and (max-width: 768px) {
    .map__icons--facebook:link,
    .map__icons--facebook:active,
    .map__icons--facebook:visited {
      padding: 7px 18px;
      bottom: 90px;
      right: -18px; } }
  @media only screen and (max-width: 576px) {
    .map__icons--facebook:link,
    .map__icons--facebook:active,
    .map__icons--facebook:visited {
      right: -21px;
      padding: 7px 19px; } }

.map__icons--instagram:link,
.map__icons--instagram:active,
.map__icons--instagram:visited {
  position: absolute;
  bottom: -88px;
  right: 3px;
  border: 1px solid transparent;
  padding: 25px 32px;
  color: #ffffff;
  background-color: #b8976a; }
  @media only screen and (max-width: 992px) {
    .map__icons--instagram:link,
    .map__icons--instagram:active,
    .map__icons--instagram:visited {
      padding: 11px 22px;
      bottom: -6px;
      right: -25px; } }
  @media only screen and (max-width: 768px) {
    .map__icons--instagram:link,
    .map__icons--instagram:active,
    .map__icons--instagram:visited {
      padding: 7px 15px;
      bottom: 44px;
      right: -67px; } }

.contact {
  background-color: #f1f1f1;
  margin-top: 394px;
  height: 790px;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 992px) {
    .contact {
      margin-top: 350px;
      height: 800px; } }
  @media only screen and (max-width: 768px) {
    .contact {
      margin-top: 230px; } }

.contact__img {
  width: 100%;
  height: 100%; }
  .contact__img img {
    height: 100%; }
    @media only screen and (max-width: 992px) {
      .contact__img img {
        width: 100%; } }

@media only screen and (max-width: 992px) {
  .contact__row {
    padding-top: 40px; } }

.contact__container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }

.contact__content {
  padding-top: 65px;
  padding-left: 100px;
  background-color: #f1f1f1;
  opacity: .9; }
  @media only screen and (max-width: 1200px) {
    .contact__content {
      padding-left: 55px; } }
  @media only screen and (max-width: 992px) {
    .contact__content {
      padding: 25px 25px 0 25px; } }

.contact__heading {
  margin-bottom: 0;
  letter-spacing: 1.5px; }

.contact__subhead {
  font-size: 16px;
  color: #666666;
  line-height: 30px;
  font-family: 'Merriweather', serif;
  letter-spacing: .1px; }
  @media only screen and (max-width: 992px) {
    .contact__subhead {
      font-size: 15px; } }

.contact__info {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  margin-top: 33px; }
  @media only screen and (max-width: 992px) {
    .contact__info {
      padding-right: 55px; } }
  @media only screen and (max-width: 450px) {
    .contact__info {
      padding-right: 0; } }

.contact__info--left {
  list-style: none; }

.contact__info--right {
  list-style: none; }

.contact__write {
  text-transform: capitalize;
  margin-top: 15px;
  letter-spacing: 0.2px;
  position: relative; }
  .contact__write::after {
    content: '';
    height: 1px;
    background-color: #666666;
    width: 173px;
    position: absolute;
    bottom: -14px;
    left: -1px; }
  .contact__write::before {
    content: '';
    height: 4px;
    background-color: #666666;
    width: 60px;
    position: absolute;
    bottom: -18px;
    left: -1px; }

.contact__form {
  margin-top: 55px;
  width: 115%; }
  @media only screen and (max-width: 1200px) {
    .contact__form {
      width: 100%; } }
  .contact__form label {
    font-size: 14px;
    color: #c2c2c2;
    line-height: 24px;
    display: block;
    letter-spacing: 1.5px; }
    @media only screen and (max-width: 1200px) {
      .contact__form label {
        color: #666666; } }
  .contact__form input {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #666666;
    display: block; }
    .contact__form input:focus {
      border-bottom: 1px solid #97d3d5;
      outline: none; }
  .contact__form ::placeholder {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif; }

.contact__inputs {
  display: flex;
  justify-content: space-between;
  height: auto; }

.contact__inputs--left {
  flex: 1;
  margin-right: 47px;
  padding-left: 3px; }
  .contact__inputs--left input {
    margin-top: 15px;
    padding-bottom: 6px; }

.contact__inputs--right {
  flex: 1; }
  .contact__inputs--right input {
    margin-top: 15px;
    padding-bottom: 6px; }

.contact__textarea {
  margin-top: 47px; }
  .contact__textarea textarea {
    margin-top: 14px;
    border: 1px solid #666666;
    padding: 12px 10px;
    width: 103%;
    height: 134px;
    outline: none; }
    @media only screen and (max-width: 992px) {
      .contact__textarea textarea {
        width: 100%; } }

.contact__btn {
  float: right;
  margin-top: 14px;
  margin-right: -14px;
  padding: 15px 50px; }
  @media only screen and (max-width: 1200px) {
    .contact__btn {
      margin-bottom: 30px; } }
  @media only screen and (max-width: 992px) {
    .contact__btn {
      margin-right: 0; } }

.clients {
  text-align: center;
  margin-top: 86px; }

.clients__heading {
  line-height: 33px; }
  .clients__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 40px;
    margin: 20px auto 18px auto; }

.clients__subhead {
  font-size: 16px;
  color: #666666;
  letter-spacing: 1.3px; }

@media only screen and (max-width: 768px) {
  .clients__card {
    padding: 20px 0; } }

.clients__cards--1 {
  margin-top: 128px;
  align-items: center; }
  @media only screen and (max-width: 992px) {
    .clients__cards--1 {
      margin-top: 90px; } }
  @media only screen and (max-width: 768px) {
    .clients__cards--1 {
      margin-top: 50px; } }

.clients__cards--2 {
  margin-top: 97px;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    .clients__cards--2 {
      margin-top: 20px; } }

.gold-card {
  padding: 0 15px;
  margin-top: 162px;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .gold-card {
      margin-top: 130px; } }

.gold-card__content {
  position: absolute;
  width: 97%;
  background-color: #af943e;
  height: 120px;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  bottom: -63px; }
  @media only screen and (max-width: 768px) {
    .gold-card__content {
      flex-direction: column;
      padding: 10px 5px; } }
  @media only screen and (max-width: 576px) {
    .gold-card__content {
      left: 0;
      width: 100%; } }
  @media only screen and (max-width: 450px) {
    .gold-card__content {
      text-align: center; } }

.gold-card__text {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 33px;
  margin-top: 13px;
  font-weight: normal; }
  @media only screen and (max-width: 992px) {
    .gold-card__text {
      font-size: 15px; } }
  @media only screen and (max-width: 768px) {
    .gold-card__text {
      font-size: 14px;
      margin-top: 0; } }
  @media only screen and (max-width: 450px) {
    .gold-card__text {
      font-size: 12px;
      margin: 0; } }
