.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif; }

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1126px; } }

.heading-1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2.4px; }

.heading-2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px; }

.header__top {
  background-color: #2e2e2f;
  height: 40px;
  width: 100%; }

.header__bottom {
  height: 120px; }

.header__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__span {
  font-size: 12px;
  color: #ffffff;
  margin-right: 36px;
  font-family: 'Poppins', sans-serif; }

.header__top--right span {
  margin-right: 20px; }

.header__link {
  font-size: 14px;
  color: #ffffff; }
  .header__link:not(:last-child) {
    margin-right: 15px; }

.btn-gold {
  padding: 15px 38px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  background-color: #af943e;
  border: none;
  border-radius: 0;
  outline: none;
  font-family: 'Poppins', sans-serif; }
  .btn-gold:active, .btn-gold:focus {
    outline: none; }
  .btn-gold:hover {
    transform: translateY(-2px); }

.nav__menu {
  margin-bottom: 0; }

.nav__list {
  display: flex; }
  .nav__list a:hover::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 14px; }

.nav__item {
  list-style: none;
  margin-top: 21px; }
  .nav__item:not(:last-child) {
    margin-right: 35px; }

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #2e2e2f;
  display: inline-block;
  font-weight: 700; }

.slider {
  width: 100%; }
  .slider .slide {
    position: relative;
    width: 100%;
    height: 780px;
    background-image: url("../img/cover.jpg");
    background-position: right;
    background-size: cover; }
  .slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50.3%;
    transform: translateX(-59%);
    list-style-type: none; }
    .slider .slick-dots button {
      display: block;
      border: 1px solid #2e2e2f;
      border-radius: 50%;
      background-color: transparent;
      height: 10px;
      width: 10px;
      margin: 0 4px; }
    .slider .slick-dots li.slick-active button {
      background-color: #2e2e2f; }
    .slider .slick-dots li button {
      font-size: 0; }

.testimonials__slider {
  width: 100%; }
  .testimonials__slider .testimonials__slide {
    position: relative;
    width: 100%;
    height: auto; }
  .testimonials__slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 23px;
    left: 50.5%;
    transform: translateX(-59%);
    list-style-type: none; }
    .testimonials__slider .slick-dots button {
      display: block;
      border: 1px solid #af943e;
      border-radius: 50%;
      background-color: transparent;
      height: 10px;
      width: 10px;
      margin: 0 4px; }
    .testimonials__slider .slick-dots li.slick-active button {
      background-color: #af943e; }
    .testimonials__slider .slick-dots li button {
      font-size: 0; }

.banner {
  position: relative;
  max-height: 780px; }

.banner__content {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 12px;
  padding-left: 13px; }

.banner__wrap {
  width: 50%;
  margin-top: -20px; }

.banner__btn {
  margin-top: 55px; }

.banner__heading {
  padding-bottom: 0;
  margin-bottom: 35px; }
  .banner__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 50px;
    margin-top: 20px;
    margin-left: 5px; }

.banner__p {
  font-size: 18px;
  font-family: 'Merriweather', serif;
  margin-top: 29px;
  letter-spacing: 0.9px;
  margin-bottom: 6px;
  max-width: 550px; }

.services {
  padding: 100px 0;
  text-align: center; }

.services__heading::after {
  content: '';
  background-color: #af943e;
  height: 2px;
  display: block;
  width: 40px;
  margin: 20px auto; }

.services__text {
  color: #666666;
  font-size: 16px;
  letter-spacing: 1.2px; }

.services__cards {
  padding: 93px 24px 34px 15px; }

.services__card img {
  margin-top: 45px;
  margin-bottom: 30px; }

.services__card--1 {
  background-image: url(../img/services/services1.jpg);
  width: 259px;
  height: 200px; }

.services__card--2 {
  background-image: url(../img/services/services2.jpg);
  width: 259px;
  height: 200px; }

.services__card--3 {
  background-image: url(../img/services/services3.jpg);
  width: 259px;
  height: 200px; }

.services__card--4 {
  background-image: url(../img/services/services4.jpg);
  width: 259px;
  height: 200px; }

.services__span {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  display: block; }

.story {
  background-color: #f3f4f5;
  width: 100%;
  padding-top: 145px;
  padding-bottom: 170px; }

.story__content--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-top: 55px; }

.story__img {
  position: relative;
  z-index: 5; }
  .story__img::after {
    content: '';
    width: 445px;
    height: 100%;
    border: 1px solid #af943e;
    position: absolute;
    top: 24px;
    right: 77px;
    z-index: -1; }

.story__heading {
  margin-top: 40px; }
  .story__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 40px;
    margin-top: 12px;
    margin-bottom: 15px; }

.story__subhead {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: #666666;
  margin-bottom: 1px; }

.story__text {
  font-family: myriad-pro, sans-serif;
  font-size: 14px;
  color: #666666;
  padding: 15px 0;
  line-height: 24px;
  margin-bottom: 15px; }

.box__right {
  padding-top: 42px;
  margin-top: 1px;
  background-image: url(../img/box-img.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 545px; }

.box__left {
  padding-top: 42px;
  margin-top: 1px;
  background-image: url(../img/box-img.jpg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 545px; }

.box__container {
  padding-left: 42px;
  padding-right: 30px; }

.box__text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 24px; }

.box__text--2 {
  color: #ffffff; }

.box__text--1 {
  color: #2e2e2f; }

.box__heading {
  color: #ffffff;
  padding-bottom: 33px;
  text-transform: capitalize;
  line-height: 48px;
  letter-spacing: 1px; }

.box__heading--2 {
  color: #ffffff; }

.box__heading--1 {
  color: #2e2e2f; }

.box__left--1 {
  background-color: #f3f4f5;
  padding: 72px 175px 90px 28px;
  margin-bottom: 100px; }

.box__right--2 {
  background-color: #1c1c1c;
  padding: 61px 132px 67px 45px;
  margin-bottom: 100px; }

.testimonials {
  text-align: center;
  background-color: #181a1b;
  padding-top: 105px;
  padding-bottom: 100px;
  margin-top: 1px; }

.testimonials__content {
  padding: 50px 125px;
  border: 1px solid #af943e;
  max-width: 1096px;
  height: 325px; }

.testimonials__heading {
  color: #ffffff;
  padding-bottom: 15px; }
  .testimonials__heading::after {
    content: '';
    background-color: #af943e;
    height: 2px;
    display: block;
    width: 40px;
    margin: 10px auto; }

.testimonials__text {
  color: #ffffff;
  margin-bottom: 30px;
  letter-spacing: 1.1px; }

.testimonials__span {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px; }
