footer {
    background-color: $color-dark-2;
    height: 500px;
    font-family: 'Poppins', sans-serif;
    @include responsive(sm) {
        height: auto;
    }
}
.footer {
    height: 100%;
}
.footer__left {
    img {
        @include responsive(md) {
            width: 100%;
        }
        @include responsive(sm) {
            width: 55%;
        }
    }
    @include responsive(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.footer__content {
    padding-top: 162px;
}
.footer__p {
    color: $color-gray-3;
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
    max-width: 350px;
    text-align: justify;
    @include responsive(md) {
        font-size: 13px;
    }
}
.footer__socialNetworks {
    margin-top: 30px;
    position: relative;
    @include responsive(md) {
        margin-top: 20px;
    }
}
.circle {
        width: 35px;
        height: 35px;
        border: 1px solid $color-gold;
        padding: 6px 5px;
        border-radius: 50%;
        display: inline-block;
        font-size: 14px;
        text-align: center;
        margin-right: 6px;
        font-weight: 700;
        color: $color-white;
        transition: .2s ease;

        &:hover {
            background-color: $color-gold;
            color: $color-dark-2;
        }
}
.footer__socialNetwork {
    margin-right: 25px;

    a i {
        position: absolute;
        top: 7px;
        left: 10px;
    }
}
.footer__center {
    margin-top: 13px;
    padding-left: 110px;
    @include responsive(md) {
        padding-left: 75px;
        margin-top: 15px;
    }
    @include responsive(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
}
.footer__heading {
    font-size: 18px;
    line-height: 33px;
    color: $color-white;
    text-transform: uppercase;

    &::after {
        @include gold-line;
        width: 40px;
        margin: 14px 0;
        @include responsive(sm) {
            margin: 14px auto;
        }
    }
}
.footer__list {
    list-style: none;
    line-height: 36px;
}
.footer__list--2 {
    padding-left: 26px;
}
.arrow {
    &::before {
        content: "\00BB \0020";
        color: $color-white;
        margin-right: 10px;
    }
}
.footer__link i {
    margin-left: -30px;
    margin-right: 13px;
    color: $color-white;
}
.footer__link:link,
.footer__link:visited,
.footer__link:active {
    color: $color-gray-3;
    font-size: 14px;
    text-decoration: none;
    margin-left: 5px;
}
.footer__link:hover {
    border-bottom: 1px solid $color-white;
}
.footer__right {
    margin-top: 13px;
    align-self: center;
    @include responsive(lg) {
        margin-top: 0;
    }
    @include responsive(md) {
        margin-bottom: 2px;
    }
    @include responsive(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}