footer {
    background-color: $color-dark-2;
    height: 500px;
    font-family: 'Poppins', sans-serif;
}

.footer {
    height: 100%;
}

.footer__content {
    padding-top: 158px;

}

.footer__p {
    color: $color-gray-3;
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
    max-width: 350px;
}
// TODO geometric
.footer__socialNetworks {
    margin-top: 38px;
    position: relative;

    a {

        &:link,
        &:visited {
            color: $color-white;
            border-radius: 50%;
            padding: 6px 11px;
            border: 1px solid $color-gold;

            &:not(:last-child) {
                margin-right: 7px;
            }
        }

        &:hover {
            background-color: $color-gold;
            color: $color-dark-2;
        }

    }
}

.footer__center {
    margin-top: 19px;
    padding-left: 110px;
}

.footer__heading {
    font-size: 18px;
    line-height: 33px;
    color: $color-white;
    text-transform: uppercase;

    &::after {
        @include gold-line;
        width: 40px;
        margin: 12px 0;
    }
}

.footer__list {
    list-style: none;
    line-height: 36px;
}
.footer__list--2 {
    padding-left: 26px;
}

.arrow {
    &::before {
        content: "\00BB \0020";
        color: $color-white;
        margin-right: 5px;
    }
}
.footer__link i {
    margin-left: -30px;
    margin-right: 13px;
}

.footer__link:link,
.footer__link:visited,
.footer__link:active {
    color: $color-gray-3;
    font-size: 14px;
    text-decoration: none;
    margin-left: 5px;
}

.footer__link:hover {
    border-bottom: 1px solid $color-white;
}



.footer__right {
    margin-top: 19px;
    align-self: center;
}