.slider {
    width: 100%;
    position: relative;
}

.slider__mySlides {
    display: none;
}

.slider__dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid $color-dark;
    display: inline-block;
    transition: all .2s;

    &:hover {
        background-color: $color-dark;
    }
}

.active {
    background-color: $color-dark;
}