.btn-gold {
    padding: 15px 38px;
    text-transform: uppercase;
    color: $color-white;
    font-size: 14px;
    background-color: $color-gold;
    border: none;
    border-radius: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;

    &:active,
    &:focus {
        outline: none;
    }


    &:hover {
        color: $color-white;
        background-color: $color-black;
    }
}

.map__btn {
    text-transform: uppercase;
    background-color: $color-white;
    color: $color-black;
    border: 2px solid $color-black;
    padding: 17px 33px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    margin-top: 39px;
    letter-spacing: .1px;

    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        color: $color-white;
        background-color: $color-black;
    }
}

.gold-card__btn {
    text-transform: uppercase;
    background-color: $color-white;
    color: $color-black;
    border: none;
    padding: 14px 32px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    outline: none;
    margin-left: 33px;

    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        color: $color-white;
        background-color: $color-black;
    }
}