.banner {
    position: relative;
    max-height: 780px;
}

.banner__content {
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 12px;
    padding-left: 13px;
}

.banner__wrap {
    width: 50%;
    margin-top: -20px;
}

.banner__btn {
    margin-top: 55px;
}

.banner__heading {
    padding-bottom: 0;
    margin-bottom: 35px;


    &::after {
        @include gold-line;
        width: 50px;
        margin-top: 20px;
        margin-left: 5px;
    }
}



.banner__p {
    font-size: 18px;
    font-family: 'Merriweather', serif;
    margin-top: 29px;
    letter-spacing: 0.9px;
    margin-bottom: 6px;
    max-width: 550px;
}