.box__right {
    margin-top: 1px;
    max-height: 550px;
    position: relative;

    img {
        @include responsive(lg) {
            height: 410px;
        }

        @include responsive(sm) {
            width: 100%;
            height: auto;
        }
    }

    @include responsive(lg) {
        margin-top: 0;
        max-height: 400px;
    }

    @include responsive(sm) {
        padding-top: 0;
        max-height: 100%;
        overflow: hidden;
    }

    @include responsive(ss) {
        padding-top: 0;
    }
}

.box__left {
    margin-top: -1px;
    position: relative;
    max-height: 550px;

    img {
        float: right;

        @include responsive(lg) {
            height: 410px;
        }

        @include responsive(sm) {
            width: 100%;
            height: auto;
        }
    }

    @include responsive(lg) {
        padding-top: 12px;
        height: 400px;
    }

    @include responsive(sm) {
        padding-top: 0;
        height: 100%;
        overflow: hidden;
        max-height: 100%;
    }

    @include responsive(ss) {
        padding-top: 0;
    }
}

.box__left__container {
    background-color: $color-silver;
    padding: 61px 138px 10px 38px;
    height: 448px;
    width: 99%;
    margin-top: 9px;

    @include responsive(lg) {
        padding: 23px 45px 0 48px;
        margin-top: 0;
        height: 360px;
    }

    @include responsive(md) {
        padding: 35px 3px 10px 20px;
    }

    @include responsive(sm) {
        height: auto;
        padding: 35px 50px 10px 50px;
    }

    @include responsive(xs) {
        padding: 10px 50px 0 50px;
        height: auto;
    }

    @include responsive(ss) {
        padding: 10px 15px 15px 40px;
        height: auto;
    }
}

.box__container {
    padding-left: 32px;
    padding-right: 30px;

    @include responsive(sm) {
        opacity: .9;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include responsive(ss) {
        padding-top: 30px;
    }
}

.box__container--1 {
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);

    @include responsive(lg) {
        top: 23px;
    }

    @include responsive(sm) {
        position: relative;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        transform: translateX(0);
        max-width: 100%;
    }
}

.box__container--2 {
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);

    @include responsive(lg) {
        top: 35px;
    }

    @include responsive(sm) {
        position: relative;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        transform: translateX(0);
        max-width: 100%;
        display: flex;
    }
}

.box__text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;

    @include responsive(md) {
        font-size: 13px;
    }

    @include responsive(ss) {
        font-size: 13px;
    }
}

.box__text--2 {
    color: $color-white;
}

.box__text--1 {
    color: $color-dark;
    margin-top: 20px;
}

.box__heading {
    padding-bottom: 20px;
    text-transform: capitalize;
    line-height: 48px;
    letter-spacing: 1px;

    @include responsive(sm) {
        padding-bottom: 0;
    }

    @include responsive(ss) {
        line-height: 30px;
    }
}

.box__heading--2 {
    padding-bottom: 36px;

    @include responsive(sm) {
        padding-bottom: 30px;
    }

    @include responsive(xs) {
        padding-bottom: 20px;
    }

    @include responsive(ss) {
        padding-bottom: 15px;
    }
}

.box__left--1 {
    padding-left: 0;
    padding-right: 0;

    @include responsive(sm) {
        padding: 0;
    }

    @include responsive(xs) {
        background-color: $color-silver;
    }
}

.box__right--2 {
    background-color: $color-black;
    padding: 60px 130px 67px 48px;

    @include responsive(lg) {
        padding: 25px 45px 13px 48px;
    }

    @include responsive(md) {
        padding: 35px 3px 10px 20px;
    }

    @include responsive(sm) {
        padding: 35px 50px 10px 50px;
    }

    @include responsive(ss) {
        padding: 10px 30px 5px 40px;
    }
}