.clients {
    text-align: center;
    margin-top: 86px;
}
.clients__heading {
    line-height: 33px;

    &::after {
        @include gold-line;
        width: 40px;
        margin: 20px auto 18px auto;
    }
}
.clients__subhead {
    font-size: 16px;
    color: $color-gray;
    letter-spacing: 1.3px;
}
.clients__card {

    @include responsive(sm) {
        padding: 20px 0;
    }
}
.clients__cards--1 {
    margin-top: 128px;
    align-items: center;

    @include responsive(md) {
        margin-top: 90px;
    }

    @include responsive(sm) {
        margin-top: 50px;
    }
}
.clients__cards--2 {
    margin-top: 97px;
    align-items: center;

    @include responsive(sm) {
        margin-top: 20px;
    }
}