.contact {
    background-color: $color-silver-4;
    margin-top: 394px;
    height: 790px;
    position: relative;
    overflow: hidden;
    @include responsive(md) {
        margin-top: 350px;
        height: 800px;
    }
    @include responsive(sm) {
        margin-top: 230px;
    }
}
.contact__img {
    width: 100%;
    // height: 100%;

    img {
        height: 100%;
        @include responsive(md) {
            width: 100%;
        }
    }
}
.contact__row {
    @include responsive(md) {
        padding-top: 40px;
    }
}
.contact__container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.contact__content {
    padding-top: 65px;
    padding-left: 100px;
    background-color: $color-silver-4;
    opacity: .9;
    @include responsive(lg) {
        padding-left: 55px;
    }
    @include responsive(md) {
        padding: 25px 25px 0 25px;
    }
}
.contact__heading {
    margin-bottom: 0;
    letter-spacing: 1.5px;
}
.contact__subhead {
    font-size: 16px;
    color: $color-gray;
    line-height: 30px;
    font-family: 'Merriweather', serif;
    letter-spacing: .1px;
    @include responsive(md) {
        font-size: 15px;
    }
}
.contact__info {
    display: flex;
    justify-content: space-between;
    
    margin-top: 33px;
    @include responsive(md) {
        padding-right: 55px;
    }
    @include responsive(ss) {
        padding-right: 0;
    }
}

.contact__link {
    &,
    &:link,
    &:active,
    &:visited {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: $color-gray;
        text-decoration: none;
    }
}
.contact__info--left {
    list-style: none;
}
.contact__info--right {
    list-style: none;
}
.contact__write {
    text-transform: capitalize;
    margin-top: 15px;
    letter-spacing: 0.2px;
    position: relative;

    &::after {
        content: '';
        height: 1px;
        background-color: $color-gray;
        width: 173px;
        position: absolute;
        bottom: -14px;
        left: -1px;
    }
    &::before {
        content: '';
        height: 4px;
        background-color: $color-gray;
        width: 60px;
        position: absolute;
        bottom: -18px;
        left: -1px;
    }
}
.contact__form {
    margin-top: 55px;
    width: 115%;

    @include responsive(lg) {
        width: 100%;
    }

    label {
        font-size: 14px;
        color: $silver-text;
        line-height: 24px;
        display: block;
        letter-spacing: 1.5px;

        @include responsive(lg) {
            color: $color-gray;
        }
    }
    input {
        width: 100%;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $color-gray;
        display: block;

        &:focus {
            border-bottom: 1px solid $color-light-blue;
            outline: none;
        }
    }
    ::placeholder {
        color: $color-gray;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
}
.contact__inputs {
    display: flex;
    justify-content: space-between;
    height: auto;
}
.contact__inputs--left {
    flex: 1;
    margin-right: 47px;
    padding-left: 3px;
    input {
        margin-top: 15px;
        padding-bottom: 6px;
    }
}
.contact__inputs--right {
    flex: 1;

    input {
        margin-top: 15px;
        padding-bottom: 6px;
    }
}
.contact__textarea {
    margin-top: 47px;
    textarea {
        margin-top: 14px;
        border: 1px solid $color-gray;
        padding: 12px 10px;
        width: 103%;
        height: 134px;
        outline: none;
        @include responsive(md) {
            width: 100%;
        }
    }
}
.contact__btn {
    float: right;
    margin-top: 14px;
    margin-right: -14px;
    padding: 15px 50px;
    
    @include responsive(lg) {
        margin-bottom: 30px;
    }
    @include responsive(md) {
        margin-right: 0;
    }
}