.gallery {
    text-align: center;
    margin-top: 62px;
}
.gallery__heading {
    &::after {
        @include gold-line;
        margin: 14px auto;
        width: 40px;
    }
}
.gallery__images {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        margin-bottom: 23px;
        height: 300px;
        width: 300px;
        @include responsive(lg) {
            height: 250px;
            width: 250px;
        }
        
    }
    @include responsive(md) {
        justify-content: space-around;
    }
}