.nav__menu {
    margin-bottom: 0;
    @include responsive(sm) {
        display: none;
    }
}
.nav__list {
    display: flex;
    position: relative;
}
.nav__item {
    list-style: none;
    margin-top: 21px;
    a:hover {
        &::after {
            @include gold-line;
            width: 36px;
            margin-left: 5px;
            position: absolute;
            top: 59px;
        }
    }
    &:not(:last-child) {
        margin-right: 35px;
    }
}
.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-dark;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    @include responsive(md) {
        font-size: 15px;
    }
}
// Mini Navigation
.miniNav:link,
.miniNav:active,
.miniNav:visited {
    text-decoration: none;
    cursor: pointer;
    height: 3px;
    width: 50px;
    background-color: $color-gold;
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    @include responsive(sm) {
        display: block;
    }

        &::before,
        &::after {
            content: '';
            height: 3px;
            width: 50px;
            background-color: $color-gold;
            display: none;
            @include responsive(sm) {
                display: block;
            }
        }
        &::before {
            transform: translateY(-8px);
        }
        &::after {
            transform: translateY(6px);
        }
}