.nav__menu {
    margin-bottom: 0;

    @include responsive(sm) {
        display: none;
    }
}

.nav__list {
    display: flex;
    position: relative;
}

.nav__item {
    list-style: none;
    margin-top: 21px;

    &::after {
        @include gold-line;
        width: 1px;
        margin-left: 5px;
        position: absolute;
        top: 59px;
        opacity: 0;
        transition: 0.5s ease;
    }

    &:hover {
        &::after {
            opacity: 1;
            width: 36px;
        }
    }

    &:not(:last-child) {
        margin-right: 35px;
    }
}

.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-dark;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;

    @include responsive(md) {
        font-size: 15px;
    }
}

// Mini Navigation
.miniNav {
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    display: none;
    border-radius: 5px;

    @include responsive(sm) {
        display: block;
    }

    &:hover {
        .menu::before {
            transform: translateY(-10px);
        }

        .menu::after {
            transform: translateY(8px);
        }
    }

    .menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
        height: 2px;
        width: 35px;
        background-color: $color-gold;

        &::before,
        &::after {
            content: '';
            height: 2px;
            width: 35px;
            background-color: $color-gold;
            display: block;
        }

        &::before {
            transform: translateY(-7px);
        }

        &::after {
            transform: translateY(5px);
        }
    }
}

.miniNav__menu {
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 12;
    background-color: $color-dark;
    color: $color-gold;
    position: fixed;
    padding: 10px;
    text-align: center;
    transform: scale(0);
    transition: .5s ease;
}

.showMenu {
    transform: scale(1);
}

.miniNav__list {
    margin-top: 200px;
}

.miniNav__item {
    list-style: none;
    padding: 25px 5px;
}

.miniNav__link:link,
.miniNav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-gold;
    display: inline-block;
    font-size: 22px;

    &:hover {
        border-bottom: 1px solid $color-gold;
    }
}

.closeMenu {
    &::before {
        content: '\f00d';
        font-size: 30px;
        color: $color-gold;
        font-family: $icons;
        font-weight: 900;
        position: absolute;
        right: 30px;
        top: 20px;
        cursor: pointer;
    }
}