@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

.accordion-toggle::before {
    font-family: 'FontAwesome';
    content: "\f105";
    float: left;
    margin-left: 80px;
    color: $color-gold;
}
.accordion-opened .accordion-toggle::before {
    font-family: 'FontAwesome';
    content: "\f107";
    float: left;
    margin-left: 80px;
    color: $color-gold;
}
.accordion-toggle {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: $dark-text;
    margin-left: 75px;
    letter-spacing: .2px;

    &:hover {
        color: $dark-text;
        text-decoration: none;
    }
}
.accordion-group {
    padding: 10px 0;
}
.accordion-body {
    background-color: $color-silver-2;
    width: 100vw;
}
.accordion-inner {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: $color-gray;
    max-width: 57.5%;
    // At home need padding-bottom 68px, in office 48px
    padding: 48px 0 35px 168px; 
    margin-top: 52px;
    margin-bottom: 13px;
    line-height: 23px;
    position: relative;
    text-align: justify;

    // TODO - arrow down

    &::before {
        content: '';
        background-color: $color-gold;
        height: 60px;
        width: 2px;
        position: absolute;
        top: -21px;
        left: 83px;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 99%;
        height: 100%;
        width: 100vw;
        background-color: $color-silver-2;
    }
}
.question__text  {
    max-width: 924px;
    text-align: justify;
}
.questions {
    margin-top: 60px;
}

.questions h2 {
    text-align: center;
}

.questions__heading {
    padding-bottom: 10px;
    text-transform: none;
    margin-left: 40px;
    letter-spacing: 1.5px;

    &::after {
        @include gold-line;
        width: 40px;
        margin: 23px auto;
    }
}