@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
.accordion-toggle::before {
    font-family: 'FontAwesome';
    content: "\f107";
    float: left;
    margin-left: 80px;
    color: $color-gold;
    @include responsive(md) {
        margin-left: 10px;
    }
}
.collapsed::before {
    font-family: 'FontAwesome';
    content: "\f105";
    float: left;
    margin-left: 80px;
    color: $color-gold;
    @include responsive(md) {
        margin-left: 10px;
    }
}
.accordion-toggle {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: $dark-text;
    margin-left: 75px;
    letter-spacing: .2px;
    @include responsive(sm) {
        margin-left: 30px;
        font-size: 20px;
    }
    @include responsive(ss) {
        margin-left: 10px;
        font-size: 14px;
    }
    &:hover {
        color: $dark-text;
        text-decoration: none;
    }
}
.accordion-group {
    padding: 10px 0;
}
.accordion-body {
    background-color: $color-silver-2;
    width: 100vw;
}
.accordion-inner {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: $color-gray;
    max-width: 57.5%;
    // At home need padding-bottom 68px, in office 48px
    padding: 48px 0 35px 168px; 
    margin-top: 52px;
    margin-bottom: 13px;
    line-height: 23px;
    position: relative;
    text-align: justify;

    @include responsive(lg) {
        max-width: 80%;
    }
    @include responsive(md) {
        padding: 35px 0 25px 95px;
        font-size: 13px;
    }
    @include responsive(sm) {
        padding: 5px 0 5px 50px;
        font-size: 12px;
        max-width: 75%;
    }
    @include responsive(xs) {
        max-width: 90%;   
    }
    @include responsive(ss) {
        padding: 5px 0 5px 30px;
    }

    &::before {
        content: '';
        background-color: $color-gold;
        height: 60px;
        width: 2px;
        position: absolute;
        top: -21px;
        left: 86px;
        @include responsive(md) {
            left: 13px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 99%;
        height: 100%;
        width: 100vw;
        background-color: $color-silver-2;
    }
}
.question__text  {
    max-width: 924px;
    text-align: justify;
    @include responsive(ss) {
        font-size: 11px;
    }
}
.questions {
    margin-top: 60px;
    overflow: hidden;
}

.questions h2 {
    text-align: center;
}

.questions__heading {
    padding-bottom: 10px;
    text-transform: none;
    margin-left: 40px;
    letter-spacing: 1.5px;
    @include responsive(ss) {
        margin-left: 0;
    }

    &::after {
        @include gold-line;
        width: 40px;
        margin: 23px auto;
    }
}