.services {
    padding: 100px 0;
    text-align: center;
}

.services__heading {}

.services__text {}

.services__cards {}

.services__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 260px;
    height: 200px;

    img {
        height: 60px;
        width: 60px;
    }

    &--1 {
        background-image: url(../img/services/services1.jpg);
        height: 100%;
    }

    &--2 {
        background-image: url(../img/services/services2.jpg);
        height: 100%;
    }

    &--3 {
        background-image: url(../img/services/services3.jpg);
        height: 100%;
    }

    &--4 {
        background-image: url(../img/services/services4.jpg);
        height: 100%;
    }
}

.services__span {
    font-size: 18px;
    color: $color-white;
    // display: block;
    text-transform: uppercase;
}