// COLORS:
$color-dark: #2e2e2f;
$color-dark-2: #181a1b;
$color-silver: #f3f4f5;
$color-gold: #af943e;
$color-white: #ffffff;
$color-gray: #666666;
$color-black: #1c1c1c;


// TEXT COLORS:
$dark-text: #333333;
$light-text: #a3a3a3;