.heading-1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2.4px;
}
.heading-2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}